@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-success">Sales Web Mvc</h1>
    <p>Link para <a class="text-white" href="https://github.com/DavidBarbosa425/SalesWebMvc" target="_blank">Código no GitHub</a>.</p>
</div>
